body {background-color: #CC0000;}
body, html {
    margin: 0;
    height: 100%}

#wrapper { width: 80%;
            height: auto;
            min-height: 100%;
            background-color: #E6E6E6;
            margin-left: auto;
            margin-right: auto;
            padding: 2em;
            margin-top: 0px;
 }

hr {
    margin-bottom: 1.5em;
}

li {
    padding-bottom: 1.5em;
    list-style-type: none;
}